@CHARSET "UTF-8";

#header {
	width: 100%;
	margin:0 auto;
	text-align: center;
	border: solid 1px grey;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#main {
	float: right;
	width: 79%;
}

#balance {
	color: #23bb23;
}

#addition {
	float: left;
	width: 20%;
	margin:0 auto;
	text-align: center;
	border: solid 1px grey;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#underfooter {
	clear: both;
}

#message {
	font: bold 36px calibri;
	text-align: center;
	margin: 0 auto;
}

#content {
	margin:0 auto;
	text-align: center;
}

#footer {
	margin:0 auto;
	text-align: center;
	width: 100%;
	border: solid 1px grey;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.adminbutton {
	font-size: 24px;
}

.flag {
	border: solid 1px grey;
}

#flags {
	float: right;
}

#logout {
	float: left;
}